In [1]:
import yfinance as yf
import numpy as np

In [2]:
original_df = yf.download(tickers="^GSPC", interval="3mo")

[*********************100%***********************]  1 of 1 completed

In [3]:
df = original_df.copy()
df = df.iloc[:-1]
df = df[['Adj Close']].reset_index()
df['month'] = df['Date'].map(lambda x: x.month)
df['year'] = df['Date'].map(lambda x: x.year)
df = df.loc[df['month']==6]
df['Annual Returns'] = np.log(df['Adj Close']) - np.log(df['Adj Close'].shift(1))
df

          Date    Adj Close  month  year  Annual Returns
2   1985-06-01   188.630005      6  1985             NaN
6   1986-06-01   252.929993      6  1986        0.293325
10  1987-06-01   329.799988      6  1987        0.265374
14  1988-06-01   261.519989      6  1988       -0.231976
18  1989-06-01   351.450012      6  1989        0.295557
22  1990-06-01   322.559998      6  1990       -0.085778
26  1991-06-01   395.429993      6  1991        0.203685
30  1992-06-01   414.029999      6  1992        0.045965
34  1993-06-01   463.559998      6  1993        0.112997
38  1994-06-01   475.489990      6  1994        0.025410
42  1995-06-01   561.880005      6  1995        0.166942
46  1996-06-01   651.989990      6  1996        0.148741
50  1997-06-01   899.469971      6  1997        0.321776
54  1998-06-01   957.280029      6  1998        0.062290
58  1999-06-01  1320.410034      6  1999        0.321602
62  2000-06-01  1517.680054      6  2000        0.139241
66  2001-06-01  1133.579956      6  2001       -0.291802
70  2002-06-01   916.070007      6  2002       -0.213043
74  2003-06-01  1008.010010      6  2003        0.095641
78  2004-06-01  1104.239990      6  2004        0.091179
82  2005-06-01  1220.329956      6  2005        0.099964
86  2006-06-01  1303.819946      6  2006        0.066177
90  2007-06-01  1473.989990      6  2007        0.122675
94  2008-06-01  1282.829956      6  2008       -0.138904
98  2009-06-01  1020.619995      6  2009       -0.228658
102 2010-06-01  1049.329956      6  2010        0.027742
106 2011-06-01  1218.890015      6  2011        0.149789
110 2012-06-01  1406.579956      6  2012        0.143221
114 2013-06-01  1632.969971      6  2013        0.149239
118 2014-06-01  2003.369995      6  2014        0.204430
122 2015-06-01  1972.180054      6  2015       -0.015691
126 2016-06-01  2170.949951      6  2016        0.096025
130 2017-06-01  2471.649902      6  2017        0.129721
134 2018-06-01  2901.520020      6  2018        0.160349
138 2019-06-01  2926.459961      6  2019        0.008559
142 2020-06-01  3500.310059      6  2020        0.179058
146 2021-06-01  4266.490234      6  2021        0.197940

In [4]:
enconding_sp500 = {}
for y in np.arange(2009, 2017+1):
    if df.loc[df.year==y, 'Annual Returns'].iloc[0] >= df.loc[df.year<y, 'Annual Returns'].quantile(0.50):
        enconding_sp500[y] = 1
    else:
        enconding_sp500[y] = 0

In [5]:
enconding_sp500

{2009: 0,
 2010: 0,
 2011: 1,
 2012: 1,
 2013: 1,
 2014: 1,
 2015: 0,
 2016: 0,
 2017: 1}